{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class= "form-group">
                <legend class="border-bottom mb-4">Nueva Nota</legend>
                {{form|crispy}}
            </fieldset>
            <div class = "form-group">
                <button class="btn btn-outline-info" type="submit">Guardar</button>
            </div>        
        </form>        
    </div>       
{% endblock content %}
{% block content1 %}
    {% include "blog/search.html" %}
{% endblock content1 %}